// Project
#project-github {
    background-color: $primary;
    color: white;
    margin-right: 12px;
    padding: 0 7px;
    border-radius: 10px;
}

#project-demo {
    background-color: $secondary;
    color: white;
    margin-left: 12px;
    padding: 0 7px;
    border-radius: 10px;
}

// // Filter
// .filter {
//     list-style: none;
//     display: flex;
//     justify-content: center;
//     width: 100%;
//     margin: 0 auto;
//     flex-wrap: wrap;
//   }
  
//   .active {
//     background-color: $secondary;
//     color: white;
//   }
  
//   .filter li {
//     font-size: .8em;
//     margin-left: 5px;
//     margin-right: 5px;
//     margin-top: 5px;
//     padding: 4px 7px;
//     border: 2px solid $primary;
//     border-radius: 15px;
//     transition: background-color .3s;
//   }
  
//   .filter li:hover {
//     transition: background-color .5s;
//     background-color: $secondary;
//     color: white;
//     cursor: pointer;
//   }

// contact
#lets-do-this {
    transition: transform .2s ease-out;
}

#lets-do-this p {
    background-color: $secondary;
    color: white;
    padding: 0 1em;
    border-radius: 1em;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    box-shadow: 4px 4px 2px hsla(0,0%,0%, .2);
}

#lets-do-this:hover {
    transform: scale(1.2);
    transition: transform .5s ease-in-out;
    text-decoration: none;
}

#lets-do-this a:hover {
    text-decoration: none;
}
