// Project
.project-inner-html #project-github {
    background-color: $primary;
    color: white;
    display: inline-block;
}

.project-inner-html #project-demo {
    background-color: $secondary;
    color: white;
    display: inline-block;
}