// Intro
.intro-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jumbotron {
    background-color: hsl(0,0%,100%);
    margin-bottom: 0;
}

// Arrow container
.arrow-container {
    width: 100%;
    height: 10vh;
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}


// Skills & Education
.background-blue {
    background-color: $primary;
    width: 100vw;
    padding: 3em 0;
    @include flexColumnCenter;
}

.skills-education-container {
    background-color: white;
    width: 80vw;
    max-width: 675px;
    border-radius: .5em;
    @include flexColumnCenter;
}

.education-container {
    @include flexColumnCenter;
}

.skills-img-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.skills-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.skills-container {
    @include flexColumnCenter;
}

// Portfolio
.column {
  border: 1px black solid; 
}