// Intro
.intro-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jumbotron {
    background-color: hsl(0,0%,100%);
    margin-bottom: 0;
}

// Arrow container
.arrow-container {
    width: 100%;
    height: 10vh;
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}


// Skills & Education
.background-blue {
    background-color: $primary;
    width: 100vw;
    padding: 3em 0;
    @include flexColumnCenter;
}

.skills-education-container {
    background-color: white;
    width: 80vw;
    max-width: 675px;
    border-radius: .5em;
    @include flexColumnCenter;
}

.education-container {
    @include flexColumnCenter;
}

.skills-img-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.skills-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.skills-container {
    @include flexColumnCenter;
}

// Portfolio

.column {
  @include flexColumnCenter;
  margin: 2em 0;
  
}

#portfolio-header-container {
    @include flexColumnCenter;
    margin: 0 auto;
    justify-content: center;
    width: 80vw;
}

// Project
.project-inner-html-container {
    @include flexColumnCenter;
    justify-content: center;
    border: 1px solid $secondary;
    border-radius: 5%;
    height: 286px;
    width: 286px;
 
}

// @media only screen and (min-width: 768px) {
//     .project-inner-html-container {
//         opacity: 0;
//     }

//     .project-inner-html-container:active {
//         opacity: 1;
//     }

//     .project-inner-html-container:hover {
//         opacity: 1;
//         transition: opacity 1s;
//     }
// }


.project-inner-html {
    @include flexColumnCenter;
    justify-content: center;
}

// Contact
.contact-container {
    width: 100%;
    background-color: $primary;
    @include flexColumnCenter;
    justify-content: center;
}

// Footer
footer {
    background-color: $secondary;
    @include flexColumnCenter;
}

@media (min-width: 600px) {
    .contact-container {
        height: 70vh;
    }

    .contact-container h3 {
        font-size: 2em;
    }

    .contact-container p {
        font-size: 1.3em;
    }

    #lets-do-this p {
        font-size: 2em;
    }
}

