#profile-img {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    margin: 1rem 0;
}

#arrow {
    transform: rotate(90deg);
    width: 2rem;
    height: 2rem;
    fill: white;
}

// Skills
#treehouse {
    width: 50%;
}

.skills-container img {
    width: 100px;
    height: auto;
    padding: 1em 2em;
}