// Top nav bar
.nav-bar {
    width: 100%;
    height: 20vh;
    background: linear-gradient($primary 20%, $primaryFade 100%);
    border-bottom-right-radius: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-bar-li {
    list-style-type: none;
    padding: 0;
}

.nav-bar-li-li,
.nav-bar-li-a {
    display: inline;
    padding: 0 .3em;
    color: white;
    transition: color .3s ease-in;
    font-size: .89em;
}

.nav-bar-li-li:visited,
.nav-bar-li-li:active {
    color: white;
}

.nav-bar-li-li:hover,
.nav-bar-li-a:hover {
    color: $secondary;
    transition: color .2s ease-in;
}

.nav-bar-li a:hover {
    text-decoration: none;
}

// Media
@media (min-width: 600px) {
    .nav-bar {
        flex-direction: row;
        justify-content: space-between;
        height: 17.5vh;
        border-bottom-left-radius: 95%;
        border-bottom-right-radius: 0%;
    }
    .nav-bar-li-li,
    .nav-bar-li-a {
        font-size: .9em;
    }
    .nav-bar-li {
        margin-top: -1em;
        margin-right: 2.5em;
    }
    #rob-watts {
        margin-top: -1.5em;
        margin-left: 2.5em;
    }
   
}

@media (min-width: 850px) {
    .nav-bar {

    }
    .nav-bar-li {
        margin-top: -2em;
        margin-right: 3em;
    }
    .nav-bar-li-li,
    .nav-bar-li-a {
        font-size: 1.2em;
    }
    #rob-watts {
        margin-top: -2.2em;
        margin-left: 4em;
    }
}