// Top nav bar
.nav-bar {
    width: 100%;
    height: 20vh;
    background-color: green;
    border-bottom-right-radius: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-bar-li {
    list-style-type: none;
    padding: 0;
}

.nav-bar-li li {
    display: inline;
    padding: 0 .3em;
}